.currentWeatherStats {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.currentWeatherContainer {
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%
}

.iconContainer {
  display: flex;
  width: 10%; 
  justify-content: center
}

.iconHeart {
  fill: red;
  height: 30px;
  cursor: pointer;
}